<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <div class="container bg-light mt-3 mb-3">
        <h1 class="mb-3">Perguntas:</h1>
    
        <% perguntas.forEach(pergunta => { %>
        <div class="card mb-2">
            <div class="card-header pergunta-header">
                <h3><%= pergunta.titulo %></h3>
            </div>
            <div class="card-body">
                <p class="card-text"><%= pergunta.descricao %></p>
                <a href="#" class="btn btn-primary">Responder</a>
            </div>
        </div>
        <%})%>
    </div>



</body>
<%- include('partials/footer') %>